@import "./varibales";

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
.header {
  background: url("../assets/background-min.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay;
    z-index: -1;
  }
  .content {
    margin-top: 82px;
    @media screen and (max-width: 500px) {
      margin-top: 150px;
    }
    .title {
      color: $white;
      font-size: 5.4rem;
      font-weight: bold;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 22px;
      .span {
        color: $blue;
      }
      @media screen and (max-width: 750px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 550px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 2.5rem;
      }
    }
    .sub_title {
      color: $grey;
      font-size: 2.2rem;
      text-align: center;
      @media screen and (max-width: 750px) {
        font-size: 1.8rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1rem;
      }
    }
    .explore_btn {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      font-size: 2rem;
      background-color: $blue;
      width: 160px;
      font-weight: bold;
      text-align: center;
      height: 50px;
      margin-top: 22px;
      @media screen and (max-width: 750px) {
        font-size: 1.7rem;
        height: 40px;
        width: 130px;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        height: 30px;
        width: 110px;
      }
    }
  }
}
.projects_section {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 3em 8em;
  margin-top: 52px;
  .title_container {
    .title {
      margin-top: 1px;
      color: $white;
      font-size: 3rem;
      font-weight: bold;
      @media screen and (max-width: 750px) {
        font-size: 2.6rem;
      }
    }
  }
  .project_container {
    padding-right: 2rem;
    margin-top: 92px;
    .project {
      margin-bottom: 102px;
      @media screen and (max-width: 1158px) {
        display: flex;
        flex-direction: column;
      }
      @include flex(space-between, center);
      .projects_details {
        margin-top: 22px;
        margin-right: 82px;
        @media screen and (max-width: 1158px) {
          display: flex;
          margin-right: unset;
          flex-direction: column;
        }
        .project_title_container {
          @include flex(unset, center);
          @media screen and (max-width: 500px) {
            @include flex(center, center);
            margin-bottom: 12px;
          }
          .bar1 {
            height: 23px;
            width: 7px;
            background-color: $blue;
            @media screen and (max-width: 750px) {
              height: 21px;
              width: 5px;
            }
            @media screen and (max-width: 500px) {
              height: 18px;
              width: 3px;
            }
          }
          .project_title {
            color: $white;
            font-size: 3rem;
            font-weight: 500;
            margin-left: 2px;
            @media screen and (max-width: 750px) {
              font-size: 2.5rem;
            }
            @media screen and (max-width: 500px) {
              font-size: 2rem;
            }
          }
        }
      }
      .tags_container {
        @include flex(unset, unset);
        .tag {
          overflow: hidden;
          color: $white;
          background: #272626;
          width: 30%;
          font-size: 1em;
          padding: 0.4em 1em;
          text-align: center;
          margin-right: 12px;
        }
      }
      .links_container {
        display: grid;
        place-items: center;
        margin-top: 22px;
        margin-right: 12px;
        @media screen and (max-width: 500px) {
          font-size: 1.2rem;
          display: grid;
          place-items: center;
        }
        .link {
          color: $green;
          font-size: 2rem;
          text-align: center;
          line-height: 2;
          cursor: pointer;
          @media screen and (max-width: 750px) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: 500px) {
            font-size: 1.2rem;
          }
          &:hover {
            text-decoration: underline;
            .icon {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
}
.link_container {
  display: flex;
  align-items: center;
}
.contact_container {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 3em 8em;
  margin-top: 52px;
  .contact_title {
    p {
      margin-top: 1px;
      color: $white;
      font-size: 3rem;
      font-weight: bold;
      @media screen and (max-width: 500px) {
        font-size: 2.5rem;
      }
    }
  }
  .input_container {
    width: 70%;
    margin-top: 52px;
    position: relative;
    .label {
      color: $white;
      font-size: 1.7rem;
      font-weight: 500;
    }
    .input {
      display: block;
      border: none;
      margin-top: 12px;
      margin-bottom: 42px;
      height: 100px;
      background: #292929;
      color: $white;
      font-size: 1.8rem;
      padding: 0 0.7em;
      width: 90%;
      &:focus {
        outline: none;
      }
      @media screen and (max-width: 500px) {
        width: 170%;
        height: 40px;
      }
    }
    .textarea {
      resize: none;
      display: block;
      margin-top: 12px;
      width: 100%;
      background: #292929;
      border: none;
      color: $white;

      height: 200px;
      padding: 0.7em;
      font-size: 1.7em;
      @media screen and (max-width: 500px) {
        width: 170%;
        height: 140px;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.send_btn {
  @include flex(space-around, center);
  background-color: $blue;
  width: 120px;
  position: absolute;
  margin-bottom: 12px;
  right: 0;
  margin-top: 12px;
  height: 40px;
  @media screen and (max-width: 500px) {
    margin-right: -96px;
  }
  cursor: pointer;
  p {
    color: $white;
    font-weight: bold;
    font-size: 2rem;
    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }
}
.line {
  height: 6px;
  width: 55px;
  background-color: $blue;
  border-radius: 100px;
}
