@import './varibales';
@mixin flex ($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}

.navbar{
  
}
.navbarContainer{
    @include flex(space-between);
    padding: 1em 4%;
    @media screen and (max-width:500px) {
       padding-left: 15px;
       padding-right: 15px;
        
      }
    .logo{
        color: white;
        font-weight: bold;
        font-size: 2.2rem;
        .span{
            color: #00C6CF;
        }
        @media screen and (max-width:750px) {
            font-size: 2rem;
          }
    }
    .links{

    
  
        .links_ul{
            @include flex(space-between);
            .links_li{
         
                .link{
                    font-size: 1.6rem;
                    color: white;
                    margin-left: 72px;
                    @media screen and (max-width:650px) {
                   margin-left: 42px;
                    }
                  &:hover{
                    border-bottom: 3px solid $blue;
             
                  }
                    @media screen and (max-width:750px) {
                        font-size: 1rem;
                      }
                    @media screen and (max-width:750px) {
                        font-size: 1rem;
                      }
                }
            }
        }
    }
}
