@import './varibales';
@mixin flex ($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}

.navbar{
    @include flex(space-between);
    padding: 1em 8em;
    @media screen and (max-width:500px) {
       padding-left: 15px;
       padding-right: 15px;
        
      }
    .logo{
        color: white;
        font-weight: bold;
        font-size: 3rem;
        .span{
            color: #00C6CF;
        }
        @media screen and (max-width:750px) {
            font-size: 2rem;
          }
    }
    .links{
   width: 340px;
   @media screen and (max-width:750px) {
    width: 240px;
  }
 
   @media screen and (max-width:575px) {
    width: 180px;
  }
  @media screen and (max-width:500px) {
    width: 140px;
    
  }
        .links_ul{
            @include flex(space-between);
            .links_li{
                // margin-right: 52px;
                .link{
                    font-size: 1.6rem;
                    color: white;
                  &:hover{
                    border-bottom: 3px solid $blue;
                    // transition: border-bottom .4s cubic-bezier(0.075, 0.82, 0.165, 1);
                  }
                    @media screen and (max-width:750px) {
                        font-size: 1rem;
                      }
                    @media screen and (max-width:750px) {
                        font-size: 1rem;
                      }
                }
            }
        }
    }
}
